<div class="row mb-5">
  <div class="col-md-4 mb-4">
    <div class="card h-100" style="border:0px">
      <div class="card-body" style="margin: auto">
        <a href="#" class="btn btn-primary" (click)="showCardInContent(1)">{{ cards[1].head}}</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card h-100" style="border:0px">
      <div class="card-body" style="margin: auto">
        <a href="#" class="btn btn-primary" (click)="showCardInContent(2)">{{ cards[2].head}}</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card h-100" style="border:0px">
      <div class="card-body" style="margin: auto">
        <a href="#" class="btn btn-primary" (click)="showCardInContent(3)">{{ cards[3].head}}</a>
      </div>
    </div>
  </div>

</div>
